.projects {
  border-top: grey 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects h1 {
  margin: 20px 0;
  padding-top: 15px;
  text-align: center;
  width: 100vw;
  font-family: "Racing Sans One", cursive;
}

.project-card {
  width: 300px;
  height: 417px;
  border: thin solid #e67e22 !important;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
.card-text {
  height: 100%;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text a {
  margin-top: 5px;
  color: whitesmoke;
}
.card-text a:hover {
  color: #e67e22;
}

.card-content {
  max-height: 116px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
