.projects {
  border-top: grey 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects h1 {
  margin: 20px 0;
  padding-top: 15px;
  text-align: center;
  width: 100vw;
  font-family: "Racing Sans One", cursive;
}

.project-card {
  position: relative;
  width: 300px;
  height: 417px;
  border: thin solid #e67e22 !important;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-icones {
  position: absolute;
  top: 157px;
  left: 6px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 30px;
  z-index: 3;
  max-height: 200px;
  max-width: 53px;
  padding: 5px 0;
  gap: 5px;
  flex-direction: row;
}
.project-icones i {
  /* width: 20px !important;
  height: 20px !important; */
  color: #e67e22;
  /* font-weight: 500; */
}
.project-icones img {
  /* width: 20px !important;*/
  width: 30px !important;
  color: #e67e22;
  /* font-weight: 500; */
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
.card-text {
  height: 100%;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text a {
  margin-top: 5px;
  color: whitesmoke;
}
.card-text a:hover {
  color: #e67e22;
}

.card-content {
  max-height: 116px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
